/AspNetCoreWebDemo/AspNetCoreWebDemo/obj
/AspNetCoreWebDemo/AspNetCoreWebDemo/bin
/AspNetCoreWebDemo/AspNetCoreWebDemo/wwwroot/lib/jquery/dist/*.map
/AspNetCoreWebDemo/AspNetCoreWebDemo/wwwroot/lib/bootstrap/dist/css/*.map
