/AspNetCoreWebDemo/AspNetCoreWebDemo/obj
/AspNetCoreWebDemo/AspNetCoreWebDemo/bin
/AspNetCoreWebDemo/AspNetCoreWebDemo/wwwroot/lib/jquery/dist/*.map
/AspNetCoreWebDemo/AspNetCoreWebDemo/wwwroot/lib/bootstrap/dist/css/*.map
/AspNetCoreWebDemo/AspNetCoreData/obj
/AspNetCoreWebDemo/AspNetCoreData/bin
/AspNetCoreWebDemo/AspNetCoreApi/obj
/AspNetCoreWebDemo/AspNetCoreApi/bin
/AspNetCoreWebDemo/AspNetCoreApiData/bin
/AspNetCoreWebDemo/AspNetCoreApiData/obj
/AspNetCoreWebDemo/.vs/AspNetCoreWebDemo/v15/sqlite3/*.lock
/AspNetCoreWebDemo/.vs/AspNetCoreWebDemo/v15/Server/sqlite3/*.ide
/AspNetCoreWebDemo/.vs/AspNetCoreWebDemo/v15/Server/sqlite3/*.lock
