/AspNetCoreWebDemo/AspNetCoreWebDemo/obj
/AspNetCoreWebDemo/AspNetCoreWebDemo/bin
/AspNetCoreWebDemo/AspNetCoreWebDemo/wwwroot/lib/jquery/dist/*.map
/AspNetCoreWebDemo/AspNetCoreWebDemo/wwwroot/lib/bootstrap/dist/css/*.map
/AspNetCoreWebDemo/AspNetCoreData/obj
/AspNetCoreWebDemo/AspNetCoreData/bin
/AspNetCoreWebDemo/AspNetCoreApi/obj
/AspNetCoreWebDemo/AspNetCoreApi/bin
/AspNetCoreWebDemo/AspNetCoreApiData/bin
/AspNetCoreWebDemo/AspNetCoreApiData/obj
